*{ /* apply to all properties in html */
    margin: 0;
    padding: 0;
    font-family: "Rubik Doodle Shadow", sans-serif; /* apply font family to all elements */
}

h2 {
    color: #1C50F5;
    font-size: 20px;
}

.generator{
    width: 80%;
    margin: auto;
    padding-top: 350px; /* space from the top */
}

.row{
    display: flex; /* flex container */
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

input{
    margin: 8px 0;
    padding: 2px 5px;
    box-sizing: border-box;
}

button{
    margin-top: 8px;
    padding: 2px 5px;
    font-weight: bold;
}

h2.randomNumber{
    padding-top: 30px;
    font-size: 40px;
}

/* contact */

.contact{
    padding-top: 230px;
    width: 80%;
    margin: auto;
    text-align: center;
}

.contact h2{
    margin-bottom: 10px;
}

.contact a i {
    color:rgb(30, 48, 80);
}

/* footer */

footer {
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #000;
    font-size: 12px;
  }